/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
     background-image: url('C:/Users/Chris/Desktop/Software Engineering files/Christians-Tic-tac-toe/Christians-Tic-tac-toe/images/Galaxy.jpg');
     /*background-image: url('C:/Users/Chris/Desktop/Software Engineering files/Christians-Tic-tac-toe/Christians-Tic-tac-toe/images/Galaxy.jpg');*/
     background-position: center -50px;
     background-color: black;
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
   }
h1{
     font-family: 'Bungee', cursive;
     font-size: 100px;
     margin: 0 auto;
     width: 100%;
     color: rgb(214, 214, 6);
     animation: float 3s ease-in-out infinite;
   }
   
   @keyframes float {
     0% {
       transform: translate(0, 0);
     }
     50% {
       transform: translate(0, -20px);
     }
     100% {
       transform: translate(0, 0);
     }
   }
section{
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     background-color: #5909bb;
     border-radius: 10px;
     padding: 30px;
}

.square{
     min-width: 32%;
     padding: 5%;
     display: inline-block;
     min-height: 164px;
     background-color:#000000;
     border-radius: 30px;
     padding-top: 20px;
     margin-bottom: 12px;
     transition: background-color 0.3s ease-in-out;
}

.square:hover {
     background-color: red;
     }
#outcome{
     width: 100%;
     text-align: center;
}
.playerOutcome{
     color: rgb(214, 214, 6);
     font-family: 'Bungee', cursive;
     font-size: 35px;
     padding-bottom: 50px;
}
.button{
     font-family: 'Bungee', cursive;
     font-size: 40px;
     border-radius: 10px;
     background-color: rgb(214, 214, 6);
     text-decoration: none;
}
.image-class{
     height: 110px;
     width: 110px;
     position: relative;
     left: 10px;
     top: 5px;
}
/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
