/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
     background-color: black;
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
   }
h1{
     font-family: 'Bungee', cursive;
     font-size: 100px;
     margin: 0 auto;
     width: 100%;
     color: rgb(214, 214, 6);

}
section{
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     background-color: rgb(67, 185, 146);
     border-radius: 10px;
     padding: 30px;
}

.square{
     width: 32%;
     padding: 5%;
     display: inline-block;
     height: 200px;
     background-color:#171746;
     border-radius: 30px;
}
#outcome{
     width: 100%;
     text-align: center;
}
.playerOutcome{
     color: rgb(214, 214, 6);
     font-family: 'Bungee', cursive;
     font-size: 35px;
     padding-bottom: 50px;
}
.button{
     font-family: 'Bungee', cursive;
     font-size: 40px;
     border-radius: 10px;
     background-color: rgb(214, 214, 6);
     text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
