/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {

     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
   }
h1{
     font-family: 'Bungee', cursive;
     font-size: 100px;
     margin: 0 auto;
     width: 100%;

}
section{
     width: 100%;
}

.square{
     width: 30%;
     padding: 5%;
     display: inline-block;
     height: 250px;
     background-color:#171746;
     border-radius: 30px;

}

.playerOutcome{
     font-family: 'Bungee', cursive;
     font-size: 25px;
}
.button{
     font-family: 'Bungee', cursive;
     font-size: 50px;
}

/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
